<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - commerceProjet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/commerceProjet.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
        <a href="/">Home</a>
            <a href="javascript:void(0);" onclick="showAdminPrompt()">Admin</a>
            <a href="javascript:void(0);" onclick="">Cart</a>
            <!--<a href="javascript:void(0);" onclick="showAuthModal();"><i class="fa fa-user"></i> Login</a>-->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--footer-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function showAdminPrompt() 
        {
            const code = prompt("Veuillez entrer le code d'accès:");
            if (code === "youya") 
            {
                window.location.href = "/admin";
            } 
            else 
            {
                alert("Code incorrect.");
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>